@use '../../_config.scss' as *;

#main_home{
    article{
        display: flex;
        flex-wrap: wrap; // Para quebrar linha
        justify-content: center;
        .container_categoria_item{
            width: calc(50% - 10px);
            margin-bottom: 20px;
            overflow: hidden;

            @media (max-width: 500px) {
                width: calc(100% - 10px);
            }

            .container_imagem{
                overflow: hidden;
                height: $altura-foto;
                margin-bottom: 20px;

                img{
                    display: inline;
                    height: 100%;
                    width: 100%;
                    object-fit: cover; // corta a imagem pra n ficar esticada
                }
                img:hover{
                    transform: scale(1.1);
                }
            }


            .item_info{
                max-width: 100%;
                display: flex;
                justify-content: space-between;

                p{// Nome da categoria
                    width: 60%;
                    padding: $esp-pp;
                    text-align: center;
                    background-color: $cor-2;
                    color: $cor-4;
                    font-size: $font-tamanho-pp;
                }
                a{ // Botão
                    width: 38%;
                    border: none;
                    background-color: $cor-1;
                    color: $cor-4;
                    padding: $esp-pp;
                    text-align: center;
                    font-size: $font-tamanho-pp;
                    text-decoration: none;
                }
                a:hover{
                    background-color: $cor-3;
                    color: $cor-1;
                }
            }
        }

        .container_categoria_item:nth-child(2n){
            margin-left: 20px;

            @media (max-width: 500px) {
                margin-left: 0px;
            }
        }
    }
    /*
    .container_resumoCategoria{
        display: flex;
        flex-wrap: wrap;
    }*/
}