@use '../../config' as *;

.main_listagem{
    @media (max-width: 500px){
        width: 100%;
    }
    .banner{
        margin-bottom: 50px;
        max-width: 100%;

        img{
            width: $largura-total;
            height: $altura-foto;
            object-fit: cover;

            @media (max-width: 500px) {
                width: 100%;
            }
        }
        
        .filtros{
            display: flex;
            //width: 50%;
            width: 100%;
            background-color: $cor-1;

            @media (max-width: 500px){
                top: 11%;
                width: 100%;
            }
       
            a{
                width: 100%;
                color: $cor-4;
                font-size: $font-tamanho-p;
                padding: $esp-pp;
                text-decoration: none;
                text-align: center;
            }
            a:hover{
                background-color: $cor-3;
                color: $cor-1;
                cursor: pointer;
            }

            .barra_pesquisa{
                position: relative; //para que a=o absolute funcione aqui 
        
                i{
                    position: absolute; //solto em relação a barra de pesquisa
                    left: 5px;
                    top: 50%;
                    transform:translateY(-50%); //Arrasta
                }
                input{
                    padding: 20px;
                    padding-inline: 50px;
                    outline: none;
                }
            }
        }
    }

    .container_produto_listagem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}