@use '../../config' as *;

.main_listagem{
    .banner{
        margin-bottom: 50px;
        max-width: 100%;

        img{
            width: $largura-total;
            height: $altura-foto;
            object-fit: cover;

            @media (max-width: 500px) {
                width: 100%;
            }
        }
        
        .filtros{
            display: flex;
            width: 100%;
            background-color: $cor-1;

            div:first-child{
                width: 90%;
                display: flex;
                align-items: center;
            }

       
            a{
                width: 100%;
                color: $cor-4;
                font-size: $font-tamanho-p;
                padding: 1.12rem;
                text-align: center;
                text-decoration: none;
            }
            a:hover{
                background-color: $cor-3;
                color: $cor-1;
                cursor: pointer;
            }

            .barra_pesquisa{
                position: relative; //para que a=o absolute funcione aqui 
        
                i{
                    position: absolute; //solto em relação a barra de pesquisa
                    left: 5px;
                    top: 50%;
                    transform:translateY(-50%); //Arrasta
                }
                input{
                    width: 100%;
                    padding: 20px;
                    padding-inline: 50px;
                    outline: none;
                }
            }
        }
    }

    .container_produto_listagem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .main_listagem{
        width: 88%;

        .banner{
            .filtros{
                flex-direction: column;

                div:first-child{
                    width: 100%;
                }
                
                .barra_pesquisa{
                    input {
                        padding-inline: 2rem;
                        padding-block: 1rem;
                    }
                }
            }
        }
    }
}