@use '../../config' as *;

.main_listagem{
    @media (max-width: 500px){
        width: 100%;
    }
    .banner{
        margin-bottom: 50px;
        max-width: 100%;

        img{
            width: $largura-total;
            height: $altura-foto;
            object-fit: cover;
            position: relative;

            @media (max-width: 500px) {
                width: 100%;
            }
        }
        
        .filtros{
            top: 24%;
            position: absolute;
            display: flex;
            width: 40%;
            background-color: $cor-1;

            @media (max-width: 500px){
                top: 11%;
                width: 100%;
            }
       
            p{
                width: 100%;
                color: $cor-4;
                font-size: $font-tamanho-p;
                padding: $esp-p;
            }
            p:hover{
                background-color: $cor-3;
                color: $cor-1;
                cursor: pointer;
            }
        }
    }

    .container_produto_listagem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}